body {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 100%; }

p {
  color: black;
  margin: 0;
  padding: 0;
  line-height: 125%; }

.p_green {
  color: green; }

.p_white {
  color: white; }

.p_bold {
  font-weight: 400; }

.p_small {
  color: green;
  font-size: 80%; }

h1, h2, h3, h4, h5 {
  color: green;
  font-weight: 300;
  margin: 0;
  padding: 0; }

.h2_thin {
  font-weight: 100;
  font-size: 130%; }

.h1_thin {
  font-weight: 100; }

h5 {
  font-size: 80%; }

a:link, a:visited, a:hover, a:active {
  color: green;
  text-decoration: none; }

ul, li {
  text-decoration: none; }

header {
  width: 100%;
  padding: 0; }

#hgroup {
  position: relative;
  float: left;
  margin: 0 0 0 100px;
  width: 800px;
  height: 300px; }

#pos_notice {
  position: relative;
  float: right;
  margin: 0 10px 0 0;
  z-index: 1; }

#pos_logo {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0; }

#pos_tagline {
  position: absolute;
  left: 230px;
  top: 106px; }

#pos_web_address {
  position: absolute;
  left: 231px;
  top: 145px; }

#pos_delivery_only {
  position: absolute;
  left: 512px;
  top: 190px; }

#pos_snail {
  position: absolute;
  left: 675px;
  top: 40px; }

aside {
  float: right;
  width: 4.2%;
  height: 240px; }

#aside_group {
  position: relative;
  width: 40px;
  height: 240px; }

#pos_yelp img, #pos_facebook img, #pos_twitter img, #pos_tripadvisor img, #pos_happycow img, #pos_instagram img {
  position: absolute;
  left: 0px;
  top: 0px;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }

#pos_yelp img.top:hover, #pos_facebook img.top:hover, #pos_twitter img.top:hover, #pos_tripadvisor img.top:hover, #pos_happycow img.top:hover, #pos_instagram img.top:hover {
  opacity: 0; }

#pos_yelp {
  position: absolute;
  left: 0px;
  top: 0px; }

#pos_facebook {
  position: absolute;
  left: 0px;
  top: 45px; }

#pos_instagram {
  position: absolute;
  left: 0px;
  top: 90px; }

#pos_twitter {
  position: absolute;
  left: 0px;
  top: 135px; }

#pos_tripadvisor {
  position: absolute;
  left: 0px;
  top: 180px; }

#pos_happycow {
  position: absolute;
  left: 0px;
  top: 225px; }

#pos_dailyEmail {
  position: absolute;
  width: 415px;
  height: 30px;
  top: 275px;
  left: 545px;
  overflow: hidden; }

nav {
  clear: both;
  width: 100%;
  margin: 0;
  padding: 0; }

nav img {
  width: 960px;
  height: 2px;
  border: 0px;
  margin: 0;
  padding: 5px 0;
  font-size: 0; }

nav ul {
  text-align: center;
  margin: 0;
  padding: 0; }

nav li {
  display: inline;
  padding: 0px 40px 0px 40px;
  margin: 0; }

nav h2 #current {
  font-weight: 100; }

#footer {
  padding-top: 50px;
  clear: both;
  position: relative; }

#bottom_box {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #088A29;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

#phone {
  float: left;
  padding: 10px 0 0 8px;
  font-style: normal; }

a[href^=tel] {
  color: inherit;
  text-decoration: none; }

#URL {
  float: left;
  text-align: center;
  margin-left: 200px;
  padding: 10px 0 0 0;
  font-style: normal; }

#email {
  float: right;
  font-style: normal;
  padding: 10px 9px 0 0; }

#login {
  position: relative;
  width: 100%;
  height: 20px;
  padding: 0;
  display: block; }

#login li {
  display: inline; }

#pos_logo_question {
  position: absolute;
  left: 158px;
  top: 26px;
  z-index: 0; }

#pos_question {
  position: absolute;
  left: 180px;
  top: 46px; }

#pos_select {
  position: absolute;
  left: 170px;
  top: 85px; }

#pos_veg_pic, #pos_gluten_free_pic, #pos_vegan_pic, #pos_pescatarian_pic {
  position: absolute;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out; }

#pos_veg_pic img {
  left: 125px;
  top: 6px;
  position: absolute;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -ms-border-radius: 12px;
  border-radius: 12px; }

#pos_gluten_free_pic img {
  left: 125px;
  top: 306px;
  position: absolute;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -ms-border-radius: 12px;
  border-radius: 12px; }

#pos_vegan_pic img {
  left: 485px;
  top: 8px;
  position: absolute;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -ms-border-radius: 12px;
  border-radius: 12px; }

#pos_pescatarian_pic img {
  left: 485px;
  top: 306px;
  position: absolute;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -ms-border-radius: 12px;
  border-radius: 12px; }

#pos_veg_pic img.top:hover, #pos_gluten_free_pic img.top:hover, #pos_vegan_pic img.top:hover, #pos_pescatarian_pic img.top:hover {
  opacity: 0; }

#pos_veg_pic img.bottom:active, #pos_gluten_free_pic img.bottom:active, #pos_vegan_pic img.bottom:active, #pos_pescatarian_pic img.bottom:active {
  img_top: opacity=100; }

#wrapper {
  position: relative;
  width: 960px;
  margin: 0 auto 0; }

header {
  width: 100%;
  padding: 0; }

#core {
  position: relative;
  display: block;
  clear: both;
  margin-bottom: 20px; }

section#left {
  width: 460px; }

section#right {
  width: 460px; }

#question {
  position: relative;
  float: left;
  margin: 0 0 0 100px;
  width: 800px;
  height: 130px; }

.buttonSubmitHide {
  display: none; }
