/* Title: The Special Miami - Healthy Vegetarian Lunches
Description: We deliver healthy food for people who want to eat a nutritious diet but don't have the time to propare it on their own. Our food is made from scratch using the healthiest and most fresh ingredients we find daily.
Author URL: http://www.thespecialmiami.com
Tags: healthy meals, vegetarian, healthy food, healthy meals delivered, miami, miami beach, 
lunch, delivery, Design District, Downtown, Brickell, healthy lunches, vegetarian food, the special,
the special miami, healthy vegetarian lunches, catering, healthy catering, health food, healthy options,
vegetarian catering, business meeting catering, */
body {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 100%; }



	
	ul#navmenu, ul.sub1
	{
		list-style-type: none;
		margin-top: 0px;
	}
	
	ul#navmenu li
	{		
		width: 90px;
		text-align: center;
		position: relative;
		float: left;
		padding-left: 46px;
		padding-right: 46px;
		left: 15px;
		height: 35px; /* makes sure there is no space between first menu and submenus */		
	}
	
	ul#navmenu a
	{
		text-decoration: none;
		color: green;
		display: block;		
	}
	
	ul#navmenu .sub1 li
	{	
		font-size: 80%;
		
		padding-top: 14px;
		padding-right: 8px;		
		padding-bottom: 6px;
		padding-left: 10px;
		z-index: 2;
		background: white;
		outline:  1px solid green;
		width: 120px;
	}
	
	ul#navmenu .sub1 a
	{
	padding: 0px;
	margin: 0px;
	display: block;		
	}
	
	ul#navmenu li:hover > a /* > means a son of li*/
	{
		color: black;	
	}
	
	ul#navmenu ul.sub1
	{
		display: none;
		position: absolute;
		left: 6px; /* centers sublist under main list */
		top: 35px;
	}
	
	ul#navmenu li:hover .sub1
	{
		display: block;
	}
  
  
  
  
  
  

p {
  color: black;
  margin: 0;
  padding: 0;
  line-height: 125%; }

.p_green {
  color: green; }

.p_white {
  color: white; }

.p_bold {
  font-weight: 400; }

.p_small {
  color: green;
  font-size: 80%; }

h1, h2, h3, h4, h5 {
  color: green;
  font-weight: 300;
  margin: 0;
  padding: 0; }

.h1_thin {
  font-weight: 100;
  font-size: 180%;}
  
.h2_thin {
  font-weight: 100;
  font-size: 130%;}

h5 {
  font-size: 80%; }

a:link, a:visited, a:hover, a:active {
  color: green;
  text-decoration: none; }

ul, li {
  text-decoration: none; }

header {
  width: 100%;
  padding: 0; }

#hgroup {
  position: relative;
  float: left;
  margin: 0 0 0 100px;
  width: 800px;
  height: 300px; }
  
#question {
  position: relative;
  float: left;
  margin: 0 0 0 100px;
  width: 800px;
  height: 130px; }

#pos_notice {
  position: relative;
  float: right;
  margin: 0 10px 0 0;
  z-index: 1; }

#pos_logo {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0; }
  
#pos_logo_question {
  position: absolute;
  left: 158px;
  top: 26px;
  z-index: 0; }

#pos_tagline {
  position: absolute;
  left: 230px;
  top: 106px; }
  
#pos_question {
  position: absolute;
  left: 180px;
  top: 46px; }
  
#pos_select {
  position: absolute;
  left: 170px;
  top: 85px; }

#pos_web_address {
  position: absolute;
  left: 231px;
  top: 145px; }

#pos_delivery_only {
  position: absolute;
  left: 485px;
  top: 187px; }

#pos_snail {
  position: absolute;
  left: 675px;
  top: 40px; }

aside {
  float: right;
  width: 4.2%;
  height: 180px; }

#aside_group {
  position: relative;
  width: 40px;
  height: 180px; }

#pos_yelp img, #pos_facebook img, #pos_twitter img, #pos_tripadvisor img, #pos_happycow img {
  position: absolute;
  left: 0px;
  top: 0px;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }

#pos_yelp img.top:hover, #pos_facebook img.top:hover, #pos_twitter img.top:hover, #pos_tripadvisor img.top:hover, #pos_happycow img.top:hover {
  opacity: 0; }

#pos_yelp {
  position: absolute;
  left: 0px;
  top: 0px; }

#pos_facebook {
  position: absolute;
  left: 0px;
  top: 45px; }

#pos_twitter {
  position: absolute;
  left: 0px;
  top: 90px; }

#pos_tripadvisor {
  position: absolute;
  left: 0px;
  top: 135px; }

#pos_happycow {
  position: absolute;
  left: 0px;
  top: 180px; }

#pos_dailyEmail {
  position: absolute;
  width: 415px;
  height: 30px;
  top: 275px;
  left: 545px;
  overflow: hidden; }

nav {
  clear: both;
  width: 100%;
  margin: 0;
  padding: 0; }

nav img {
  width: 960px;
  height: 2px;
  border: 0px;
  margin: 0;
  padding: 5px 0;
  font-size: 0; }

nav ul {
  text-align: center;
  margin: 0;
  padding: 0; }

nav li {
  display: inline;
  padding: 0px 40px 0px 40px;
  margin: 0; }

nav h2 #current {
  font-weight: 100; }
  
nav h2 #sub {
  font-weight: 300; }

#footer {
  padding-top: 50px;
  clear: both;
  position: relative; }

#bottom_box {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #088A29;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

#phone {
  float: left;
  padding: 10px 0 0 8px;
  font-style: normal; }

a[href^=tel] {
  color: inherit;
  text-decoration: none; }

#URL {
  float: left;
  text-align: center;
  margin-left: 200px;
  padding: 10px 0 0 0;
  font-style: normal; }

#email {
  float: right;
  font-style: normal;
  padding: 10px 9px 0 0; }

#login {
  position: relative;
  width: 100%;
  height: 20px;
  padding: 0;
  display: block; }

#login li {
  display: inline; }

body {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 100%; }

img {
  padding: 0;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -ms-border-radius: 12px;
  border-radius: 12px; }

#wrapper {
  position: relative;
  width: 960px;
  margin: 0 auto 0; }

#wrapper_scroll {
  position: relative;
  width: 960px;
  margin: 0 auto 0;
  padding: 0 0 0 16px; }

#core {
  position: relative;
  display: block;
  clear: both;
  margin-bottom: 20px; }

section#left {
  width: 460px;
  float: left; }

.vertical_divider {
  margin-top: 20px; }

section#right {
  float: right;
  width: 460px; }

.header_spacing {
  padding-top: 10px; }

#index_order_button {
  background-color: white;
  border: 1px solid #84bd68;
  padding: 4px 8px 4px 8px;
  font-size: 100%; }

#index_order_button:hover {
  background-color: #84bd68;
  color: black; }

#info_buttons {
  position: relative; }

.info_link {
  background-color: white;
  border: 1px solid #84bd68;
  padding: 4px 6px 4px 8px;
  margin: 0px 8px 0px 1px;
  font-size: 80%; }

.info_link:hover {
  background-color: #84bd68;
  color: black; }

#info_popup1 span, #info_popup2 span, #info_popup3 span {
  display: none; }

#info_popup1:hover span, #info_popup2:hover span, #info_popup3:hover span {
  display: block;
  position: absolute;
  top: -280px;
  left: 505px;
  width: 438px;
  border: 1px dotted black;
  background-color: #84bd68;
  color: black;
  filter: alpha(opacity=90);
  opacity: 0.9;
  padding: 0px 5px 8px 5px;
  font-size: 120%;
  font-weight: 400;
  z-index: 3; }

#pos_main_pic {
  width: 460px;
  height: 351px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out; }

#pos_main_pic img {
  position: absolute;
  left: 505px;
  top: 6px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -ms-border-radius: 12px;
  border-radius: 12px; }

#pos_main_pic img.top:hover {
  opacity: 0; }

#pos_main_pic img.bottom:active {
  img_top: opacity=100; }
  
  #pos_veg_pic {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out; }

#pos_veg_pic img {
  position: absolute;
  left: 125px;
  top: 6px; 
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -ms-border-radius: 12px;
  border-radius: 12px; }

#pos_veg_pic img.top:hover {
  opacity: 0; }

#pos_veg_pic img.bottom:active {
  img_top: opacity=100; }
  
#pos_gluten_free_pic {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out; }

#pos_gluten_free_pic img {
  position: absolute;
  left: 125px;
  top: 306px;
  
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -ms-border-radius: 12px;
  border-radius: 12px; }

#pos_gluten_free_pic img.top:hover {
  opacity: 0; }

#pos_gluten_free_pic img.bottom:active {
  img_top: opacity=100; }
  
  #pos_vegan_pic {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out; }

#pos_vegan_pic img {
  position: absolute;
  left: 485px;
  top: 8px; 
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -ms-border-radius: 12px;
  border-radius: 12px; }

#pos_vegan_pic img.top:hover {
  opacity: 0; }

#pos_vegan_pic img.bottom:active {
  img_top: opacity=100; }
  
#pos_pescatarian_pic {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out; }

#pos_pescatarian_pic img {
  position: absolute;
  left: 485px;
  top: 306px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -ms-border-radius: 12px;
  border-radius: 12px; }

#pos_pescatarian_pic img.top:hover {
  opacity: 0; }

#pos_pescatarian_pic img.bottom:active {
  img_top: opacity=100; }
  


#pos_main_price {
  position: absolute;
  left: 435px;
  top: 18px;
  width: 150px;
  height: 113px;
  z-index: 2;
  opacity: 0.86;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px; }

#pos_order_img {
  display: block;
  padding: 10px 4px; }

#pos_order_img img {
  padding: 0 4px; }

#pos_orderform {
  margin: 0 275px;
  padding: 10px 56px 16px 56px;
  border: 1px solid green; }

.tail_spacing {
  padding-bottom: 10px; }

section#full {
  width: 900px;
  margin: 0 30px; }

.float_right {
  float: right;
  margin-left: 20px; }

.divider_float_left {
  float: left;
  padding-left: 80px;
  padding-right: 110px;
  padding-top: 15px;
  padding-bottom: 10px; }

.order_rollover {
  position: absolute;
  left: 160px;
  top: 6px;
  padding: 0;
  margin: 0;
  width: 135px;
  height: 30px; }

.order_rollover :hover {
  opacity: 0;
  filter: alpha(opacity=0); }

#pos_paypal_button {
  position: relative; }

#pos_paypal_button_pay {
  left: 255px;
  position: absolute; }
